[Unit]
Description=Alert Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=alertmanager
Group=alertmanager
ExecStart=/srv/alertmanager/alertmanager \
    --cluster.listen-address= \
    --web.config.file=/etc/alertmanager.web-config.yml \
    --web.listen-address=:9095 \
    --config.file=/etc/alertmanager.yml \
    --storage.path=/srv/alertmanager-data

Restart=always

[Install]
WantedBy=multi-user.target
